#section-search {
  background-color: #FFFFFF;
};

#section-search-form {

  border: solid 1px #CCCCCC;

  // Search Box.
  input[type="text"] {
    box-sizing: border-box;
    width: 90%;
    height: 45px;

    padding: 0 10px 0 10px;

    font-size: 1.5em;

    border: none;
    outline: none;
    background: none;
  };

  // Search Submit.
  button[type="submit"] {
    box-sizing: border-box;
    width: 10%;
    height: 45px;

    font-size: 1.5em;
    background: #333333;
    border: none;
    outline: none;

    color: #FFFFFF;

    cursor: pointer;

    // Disabled submit button colour.
    &:disabled {
      background: #CCCCCC;
    };
  };

};

#section-gallery {
  background-color: #FFFFFF;

  .container-search-result {
    background-color: #FFFFFF;
    margin-bottom: 1px;

    img { margin: 0 auto; };
  };

};
