body {
  margin: 15px;
  background-color: #F5F6F7;
  color: #333333;
  font-family: Arial, sans-serif;
  font-size: 100%;
  max-width: 100%;
};

// Box shadow for card effect.
.boxshadow {
  box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1);
};

// Set padding.
.padding-10 {
  padding: 10px !important;
};

// Sets margins to 0.
.clear-margins {
  margin: 0 !important;
};

// Aligns text to centre.
.text-center {
  text-align: center !important;
};

// Hides elements.
.hidden {
  display: none;
};

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
};

.thumbnail {
  height: 300px !important;
  object-fit: cover;
};

.clearfix {
  clear: both;
};

// SASS partials.
@import '_icons';
@import '_responsive-grid';
@import '_Jumbotron';
@import '_Search';
@import '_PaginationControls';
